<%= link_to 'Chatroom', root_path, class: 'item' %>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item">Log in</a>
        <a class="item">Sign up</a>
    </div>
    </div>
    <div class="item">
        <%= link_to 'Login', login_path, class: 'ui primary button' %>
    </div>
</div>
